## 一个answer叫oneAnswer
<div class="row">
	<div class="col-md-2 col-xs-2">
		<ul class="question-upDown" isVote="$oneAnswer.isVote" answerid="$oneAnswer.id">
			<li title="" data-original-title="This is useful.">
                <a data-container="body" onclick="upVote(this,this.parentNode.parentNode)" data-toggle="tooltip" title="赞同" data-content="You must have 5 points to vote up." href="javascript:void(0)" data-name="vote_up" class="action vote vote-up img-circle" data-original-title="" title="">
                    <i  class="fa fa-chevron-up"></i>
                </a>
			</li>

			<li data-original-title="" title="">
				<span id='answerVoteCount' itemprop="upvoteCount" class="vote-count"> $oneAnswer.voteCount </span>
			</li>

			<li title="" data-original-title="This is not useful">
                <a data-container="body" onclick="downVote(this,this.parentNode.parentNode)" data-toggle="tooltip" title="反对" data-content="You must have 500 points to vote down." href="javascript:void(0)" data-name="vote_down" class="action vote vote-down img-circle " data-original-title="" title="">
                    <i class="fa fa-chevron-down"></i>
                </a>
			</li>

			<!--<li class="single-question-pump" data-original-title="" title="">
			</li>-->
		</ul>
		<div class="pumping">
		</div>
	</div>

	<div class="col-md-10 col-xs-6">

        <div>
            <ul class="post-controls" >
                <li>
                    <a href="javascript:void(0)"  onclick="editAnswer(this)" answerid="$oneAnswer.id" id="answer-editbtn-$oneAnswer.id" data-toggle="tooltip" data-original-title="Edit" data-name="edit" class="post-edit action">
                        <i class="fa fa-pencil"></i>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="deleteAnswer(this,this.parentNode.parentNode)" id="answer-delbtn-$oneAnswer.id" data-toggle="tooltip" data-original-title="Delete" data-name="delete" class="post-delete action">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </li>
            </ul>
        </div>


        <div id="edit-answer-field-$oneAnswer.id">
        </div>


        <div id="answer-show-area-$oneAnswer.id">
		<div id="answer-markdown-area-$oneAnswer.id" class="pure-markdown q-ltop-content">
                <textarea style="display:none;" id="answer-textarea-$oneAnswer.id">
$!oneAnswer.content
                </textarea>
		</div>
        </div>


        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-text-width"></i>
                <h3 class="box-title">WIKI</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
				#foreach($oneWiki in $oneAnswer.wikiItems)
					#parse("listItem/wikiListItem.vm")
				#end
            </div>
            <!-- /.box-body -->
        </div>



        <div class="box">
            <div class="box-header">
                <h3 class="box-title">相关ppt</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>文件名</th>
                        <th style="width: 60px">下载</th>
                    </tr>
						#foreach($onePpt in $oneAnswer.documents)
							#parse("listItem/pptListItem.vm")
						#end

                    <tr>
                        <td>软工二第二章</td>
                        <td><a href="#" ><span class="badge bg-red"><i class="ion ion-ios-cloud-download-outline"></i></span></a></td>
                        <!--<td><span class="badge bg-red">55%</span></td>-->
                    </tr>

                    </tbody></table>
            </div>
            <!-- /.box-body -->
        </div>




        <div class="question-cat answerDiv">
			<div class="clearfix"></div>
			<a href="/userProfile/$oneAnswer.author.userName">
				<span class="author-avatar">
					<img src="$oneAnswer.author.photoUri"/>
				</span>
				<span itemprop="name" class="author-name">$oneAnswer.author.userName</span>
			</a>
			<span itemprop="dateCreated" datetime="on June 9, 2014" class="answer-time">
				编辑于 $oneAnswer.getUpdateAtForView()
			</span>
		</div>




	</div>
</div>
<hr/>