## 一个answer叫oneAnswer
<div class="row">
	<div class="col-md-2 col-xs-2">
		<ul class="question-upDown">
			<li title="" data-original-title="This is useful.">
				<a data-container="body" data-toggle="popover" data-content="You must have 5 points to vote up." href="javascript:void(0)" data-name="vote_up" class="action vote vote-up img-circle " data-original-title="" title="">
					<i answerid="$oneAnswer.id" onclick="upVote(this)" class="fa fa-chevron-up"></i>
				</a>
			</li>

			<li data-original-title="" title="">
				<span itemprop="upvoteCount" class="vote-count"> $oneAnswer.voteCount </span>
			</li>

			<li title="" data-original-title="This is not useful">
				<a data-container="body" data-toggle="popover" data-content="You must have 500 points to vote down." href="javascript:void(0)" data-name="vote_down" class="action vote vote-down img-circle " data-original-title="" title="">
					<i answerid="$oneAnswer.id" onclick="downVote(this)" class="fa fa-chevron-down"></i>
				</a>
			</li>

			<!--<li class="single-question-pump" data-original-title="" title="">
			</li>-->
		</ul>
		<div class="pumping">
		</div>
	</div>

	<div class="col-md-10 col-xs-6">
		<div id="answer-markdown-area-$oneAnswer.id" class="pure-markdown q-ltop-content">
                <textarea style="display:none;">
$oneAnswer.content
                </textarea>
		</div>

		<div class="question-cat answerDiv">
			<div class="clearfix"></div>
			<a>
				<span class="author-avatar">
					<img src="$oneAnswer.author.photoUri"/>
				</span>
				<span itemprop="name" class="author-name">$oneAnswer.author.userName</span>
			</a>
			<span itemprop="dateCreated" datetime="on June 9, 2014" class="answer-time">
				编辑于 $oneAnswer.getUpdateAtForView()
			</span>
		</div>



	</div>
</div>
<hr/>