## 一个pptItemn叫onePpt
<tr>
    <td>$onePpt.title</td>
    <td><a href="#" ><span class="badge bg-red"><i class="ion ion-ios-cloud-download-outline"></i></span></a></td>
    <!--<td><span class="badge bg-red">55%</span></td>-->
</tr>