## 一个question叫oneQuestion
<div class="row">

	<div class="col-md-4 col-xs-4">
		<ul class="question-statistic">
			<li>
				<span class="question-views">
$oneQuestion.viewCount </span> 浏览 </li>
			<li class="active">
				<span itemprop="answerCount" class="question-answers">
$oneQuestion.answerCount </span> 回答 </li>
			<li style="margin-right: 0px;">
				<span itemprop="upvoteCount" class="question-votes">
$oneQuestion.voteCount </span> 投票 </li>
		</ul>
		<div class="pumping">
		</div>
	</div>

	<div class="col-md-8 col-xs-4">
		<div class="q-ltop-content">
			<h2>
				<a href="/question/$oneQuestion.id">
					$oneQuestion.title
				</a>
			</h2>
		</div>

		<div class="q-lbtm-content">

			<div class="question-cat">
				<ul class="question-tags">
					<li>
						<a class="q-tag">
							无标签 </a>
					</li>

				</ul>
				<div class="clearfix"></div>
				<a href="/userProfile/$oneQuestion.author.userName">
					<span class="author-avatar">
<img itemprop="image" src="$oneQuestion.author.photoUri" class="avatar" alt=""> </span>
					<span itemprop="name" class="author-name">$oneQuestion.author.userName</span>
				</a>

				<span itemprop="dateCreated" datetime="on June 9, 2014" class="question-time">
					发布于 $!oneQuestion.getCreateAtForView()
				</span>
			</div>

		</div>
	</div>

</div>
<hr/>