## 一个question叫oneQuestion
<div class="row">


    <div class="zm-profile-section-item zm-item clearfix" data-time="1464053718" data-type="a" data-type-detail="member_voteup_answer">
        <span class="zm-profile-setion-time zg-gray zg-right">1 月前</span>
        <div class="zm-profile-section-main zm-profile-section-activity-main zm-profile-activity-page-item-main">
            回答了问题

            <a href="#springUrl("/questions/$one.questionId")">
                $one.questionId
            </a>
        </div>
        <div tabindex="-1" class="zm-item-answer "
             itemscope itemtype="http://schema.org/Answer"
             data-aid="7059091"
             data-atoken="29189700"
             data-collapsed="0"
             data-created="1407999447"
             data-deleted="0"
             data-isowner="0"
             data-helpful="1"
             data-copyable="1"
        >
            <link itemprop="url" href="/question/24696366/answer/29189700">
            <meta itemprop="answer-id" content="7059091">
            <meta itemprop="answer-url-token" content="29189700">
            <a class="zg-anchor-hidden" name="answer-7059091"></a>

            <div class="zm-item-vote">
                <a class="zm-item-vote-count js-expand js-vote-count" href="javascript:;" data-bind-votecount>1177</a>
            </div>

            <div class="zm-votebar">
                <button class="up pressed">
                    <i class="icon vote-arrow"></i>
                    <span class="count">1177</span>
                    <span class="label sr-only">赞同</span>
                </button>
                <button class="down ">
                    <i class="icon vote-arrow"></i>
                    <span class="label sr-only">反对</span>
                </button>
            </div>

            <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="2060610" data-action="/answer/content" data-author-name="刘慰" data-entry-url="/question/24696366/answer/29189700">

                <div class="zh-summary summary clearfix">
                    $oneAnswer.content

                </div>
            </div>

        </div>
    </div>


##	<div class="col-md-4 col-xs-4">
##		<ul class="question-statistic">
##			<li>
##				<span class="question-views">
##$oneQuestion.viewCount </span> 浏览 </li>
##			<li class="active">
##				<span itemprop="answerCount" class="question-answers">
##$oneQuestion.answerCount </span> 回答 </li>
##			<li style="margin-right: 0px;">
##				<span itemprop="upvoteCount" class="question-votes">
##$oneQuestion.voteCount </span> 投票 </li>
##		</ul>
##		<div class="pumping">
##		</div>
##	</div>
##
##	<div class="col-md-8 col-xs-4">
##		<div class="q-ltop-content">
##			<h2>
##				<a href="#springUrl("/questions/$oneQuestion.id")">
##					$oneQuestion.title
##				</a>
##			</h2>
##		</div>
##
##		<div class="q-lbtm-content">
##
##			<div class="question-cat">
##				<ul class="question-tags">
##					<li>
##						<a class="q-tag">
##							apps </a>
##					</li>
##
##				</ul>
##				<div class="clearfix"></div>
##				<a>
##					<span class="author-avatar">
##<img itemprop="image" src="$oneQuestion.author.photoUri" class="avatar" alt=""> </span>
##					<span itemprop="name" class="author-name">$oneQuestion.author.userName</span>
##				</a>
##
##				<span itemprop="dateCreated" datetime="on June 9, 2014" class="question-time">
##					##	$!oneQuestion.getCreateAtForView()
##					$!oneQuestion.createAt
##				</span>
##			</div>
##
##		</div>
##	</div>

</div>
<hr/>