## 一个wiki叫oneWiki
<blockquote>
	<h4><a href="oneWiki.url" target="view_frame">$!oneWiki.title</a><h4>
    <div id="question-wiki-markdown-$oneWiki.id" class="pure-markdown q-ltop-content">
        <textarea style="display:none;">
$!oneWiki.content
        </textarea>
    </div>

    <!--<small>来自 wiki条目<cite title="Source Title"><a href="#" >$oneWiki.title</a></cite></small>-->
</blockquote>
