<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://110.173.17.140:3306/RuanHu</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="current_session_context_class">thread</property>
    <property name="packagesToScan" >entity</property>
    <mapping class="edu.nju.data.entity.Answer"/>
      <mapping class="edu.nju.data.entity.AnswerComments"/>
      <mapping class="edu.nju.data.entity.AnswerVotes"/>
      <mapping class="edu.nju.data.entity.Comment"/>
      <mapping class="edu.nju.data.entity.Question"/>
      <mapping class="edu.nju.data.entity.QuestionComments"/>
      <mapping class="edu.nju.data.entity.QuestionVotes"/>
      <mapping class="edu.nju.data.entity.Vote"/>
      <mapping class="edu.nju.data.entity.User"/>
    <mapping class="edu.nju.data.entity.AlibabaKey"/>
    <mapping class="edu.nju.data.entity.AnswerDocument"/>
    <mapping class="edu.nju.data.entity.AnswerWiki"/>
    <mapping class="edu.nju.data.entity.QuestionDocument"/>
    <mapping class="edu.nju.data.entity.QuestionWiki"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>