[class*=sprite-profile-icon-] {
    display: inline-block;
    vertical-align: middle
}

.sprite-profile, [class*=sprite-profile-] {
    background-image: url(/static/revved/img/profile/sprites.auto.d2647926.png);
    background-repeat: no-repeat
}

.sprite-profile-icon-add {
    background-position: 0 0;
    width: 34px;
    height: 34px
}

.sprite-profile-icon-delete {
    background-position: -36px 0;
    width: 9px;
    height: 10px
}

.sprite-profile-icon-edit {
    background-position: -36px -12px;
    width: 9px;
    height: 10px
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .sprite-profile, [class*=sprite-profile-] {
        background-image: url(/static/revved/img/profile/sprites@2x.auto.4077a5ba.png);
        background-size: 45px 34px
    }
}

.profile-navbar {
    background-color: #fcfcfc;
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 2px #f0f0f0 inset;
    border-radius: 0 0 4px 4px
}

.profile-navbar .item {
    float: left;
    padding: 12px 20px;
    font-weight: 700;
    color: #666;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    line-height: 22px
}

html.mobile .profile-navbar .item {
    float: none;
    display: block;
    text-align: left
}

.profile-navbar .item .num {
    color: #999;
    font-weight: 400
}

.profile-navbar .item.active {
    color: #222;
    border: solid #ddd;
    border-width: 0 1px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px #f0f0f0 inset
}

.profile-navbar .item:hover {
    color: #259
}

.profile-navbar .item:hover .num {
    color: inherit
}

.profile-navbar .item.first {
    border-left: 0
}

.profile-navbar .item.home {
    border-right: 1px solid #eee
}

.profile-navbar .item.home.active {
    border-color: #ddd
}

.icon-profile-tab-home {
    background-position: -149px -165px;
    width: 18px;
    height: 19px;
    vertical-align: -5px
}

.ProfileCard {
    margin: 0 0 25px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 0 #f2f4f5
}

.ProfileItem-image {
    float: left;
    margin-right: 10px
}

.ProfileItem-text {
    font-size: 14px;
    line-height: 34px;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.ProfileItem-text--bold {
    font-weight: 700
}

.ProfileProgress {
    position: relative;
    padding: 24px 12px;
    line-height: 20px
}

.ProfileProgress-bar, .ProfileProgress-completeness {
    position: absolute;
    height: 20px;
    border-radius: 10px
}

.ProfileProgress-bar {
    right: 20px;
    left: 120px;
    background: #eaeaea
}

.ProfileProgress-completeness {
    color: #fff;
    background: #48a5e6;
    text-align: center
}

.ProfileAvatarEditor {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3) inset;
    overflow: hidden;
    cursor: pointer
}

.ProfileAvatarEditor-tip {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out
}

html.no-touchevents .ProfileAvatarEditor:hover .ProfileAvatarEditor-tip {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)"
}

.ProfileAvatarEditor-spinner {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}

.ProfileEditCard-item {
    padding: 24px 12px;
    border-bottom: 1px solid #eee
}

.ProfileEditCard-editButton {
    display: none
}

html.no-touchevents .ProfileEditCard-item:hover .ProfileEditCard-editButton {
    display: inline-block
}

html.no-touchevents .ProfileEditCard-item.is-empty .ProfileEditCard-editButton {
    display: none
}

.ProfileEditCard-fillButton {
    display: none
}

.ProfileEditCard-item.is-empty .ProfileEditCard-fillButton {
    display: inline-block
}

.ProfileEditCard-title {
    font-size: 14px;
    font-weight: 700;
    overflow: hidden
}

.ProfileEditCard-backLink {
    float: right;
    font-size: 14px
}

.ProfileEditCard-itemLabel {
    position: absolute;
    width: 100px;
    text-align: right;
    font-weight: 400
}

.ProfileEditCard-itemContent {
    padding-left: 140px
}

.ProfileEditCard-radio + .ProfileEditCard-radio {
    margin-left: 13px
}

.ProfileEditCard-itemDescription {
    margin-top: 10px;
    color: #999
}

.ProfileEditCard-inputWrapper {
    position: relative;
    display: block;
    max-width: 270px;
    box-sizing: border-box
}

.ProfileEditCard-inputWrapper .ac-renderer {
    top: auto;
    width: 100%
}

.ProfileEditCard-inputWrapper--inline {
    float: left;
    width: 200px;
    max-width: initial
}

.ProfileEditCard-inputWrapper--inline + .ProfileEditCard-inputWrapper--inline {
    margin-left: 10px
}

.ProfileEditCard-actions {
    margin-top: 10px
}

.ProfileEditCard-editableContent {
    display: none
}

.ProfileEditCard-cancelButton {
    margin-left: 10px
}

.ProfileTagEditor-addButton {
    color: #698ebf;
    background: 0 0;
    border: 0;
    cursor: pointer;
    outline: 0
}

.ProfileTagEditor-list {
    list-style: none;
    padding: 10px 0 0;
    margin-left: -10px
}

.ProfileTagEditor-item {
    position: relative;
    padding: 10px 50px 10px 10px;
    max-width: 350px;
    width: 100%;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: move
}

html.no-touchevents .ProfileTagEditor-item:hover {
    border: 1px solid #ddd;
    border-radius: 4px
}

.ProfileTagEditor-item.is-moving {
    list-style: none;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 8px #999;
    z-index: 100
}

.ProfileTagEditor-deleteButton {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    border: 0;
    outline: 0
}

html.no-touchevents .ProfileTagEditor-item:hover .ProfileTagEditor-deleteButton {
    display: inline-block
}

.ProfileTagEditor-item.is-moving .ProfileTagEditor-deleteButton {
    display: none
}

.ProfileTagEditor-deleteButtonIcon {
    vertical-align: -2px
}

.profile-column-posts .header {
    margin: 1em 0;
    padding-left: 62px
}

.profile-column-posts .header .avatar-link {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    color: #222
}

.profile-column-posts .header .avatar-link:hover .name {
    text-decoration: underline
}

.profile-column-posts .header .name {
    margin-top: 2px;
    display: inline-block
}

.profile-column-posts .header .Avatar {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    left: -62px
}

.profile-column-posts .header .meta, .profile-column-posts .header .meta a {
    color: #999
}

.profile-column-posts .header .meta {
    margin-top: 2px
}

.profile-column-posts .column {
    padding: 0 0 12px
}

.profile-column-posts .column .footer {
    margin-top: 8px
}

.profile-column-posts .column .footer a {
    color: #698ebf
}

.profile-column-posts .column .empty {
    color: #999
}

.profile-column-posts .user-column .header {
    height: 50px;
    line-height: 50px
}

.profile-column-posts .column + .column {
    padding-top: 12px;
    border-top: 1px solid #eee
}

.profile-column-posts .posts {
    list-style: none
}

.profile-column-posts .posts .post {
    line-height: 2
}

.profile-column-posts .posts .post + .post {
    margin-top: 4px
}

.profile-column-posts .posts .post-link .title {
    font-size: 14px;
    font-weight: 700
}

.profile-column-posts .vote-num {
    display: inline-block;
    margin-right: 10px;
    padding: 0 2px;
    height: 22px;
    min-width: 22px;
    color: #698ebf;
    border-radius: 3px;
    background: #eff6fa;
    font-weight: 700;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    white-space: nowrap
}

.zm-profile-icon {
    width: 14px;
    height: 14px;
    vertical-align: -2px
}

.zm-profile-mbox {
    margin: 0 0 25px;
    clear: both;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 0 #f2f4f5
}

.zm-profile-mbox-title {
    color: #666
}

.zm-profile-mbox-head {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eee
}

.zm-profile-mbox-head, .zm-profile-mbox-cont {
    padding: 0 1em
}

.zm-profile-vlist {
    margin: 0;
    list-style: none
}

.zm-profile-vlist .desc {
    overflow: hidden;
    *zoom: 1;
    padding-right: 10px;
    line-height: 20px
}

.zm-profile-vlist .item {
    overflow: hidden;
    padding: 12px 0 8px
}

.zm-profile-vlist .item + .item {
    border-top: 1px dotted #ddd
}

.zm-profile-vlist .logo-left {
    display: block;
    margin: 5px 15px 0 0;
    width: 50px;
    height: 50px
}

.zm-profile-vlist .logo-left img {
    display: block;
    width: inherit;
    height: inherit
}

.zm-profile-section-sort-wrap {
    float: right;
    color: #666
}

.zm-item-top-container {
    position: absolute;
    right: 0;
    top: 10px;
    width: 15px;
    overflow: hidden;
    height: 35px
}

.zm-item-top-btn {
    width: 15px;
    height: 15px;
    float: left;
    text-indent: -9999px;
    margin-bottom: 5px;
    visibility: hidden;
    background-color: #698EBF;
    background-image: url(/static/revved/img/sprites-1.9.2.4c54885a.png);
    background-repeat: no-repeat;
    background-position: -263px -84px;
    border-radius: 2px
}

html.no-touchevents .zm-item-top-btn:hover {
    background-color: #259
}

.zm-item-top-btn-cancel {
    background-position: -264px -103px
}

html.no-touchevents .zm-item-top-btn-cancel:hover {
    background-color: #259
}

html.no-touchevents .zm-item:hover .zm-item-top-btn {
    visibility: visible
}

html.no-touchevents .zm-profile-section-item:hover .zm-item-top-btn {
    visibility: visible
}

.zm-profile-topics-page .zm-item-top-container {
    top: 38px
}

.zm-profile-section-list {
    padding: 0 14px
}

.zm-profile-section-list .zm-item {
    margin: 0
}

.zm-profile-section-list .zm-item-answer .zm-item-post {
    margin-top: 5px
}

.zm-profile-section-list .zg-btn-white {
    margin-top: 0
}

.zm-profile-section-list .zm-profile-section-item .zm-item-meta {
    margin-bottom: 0
}

.zm-profile-section-list .zm-profile-section-item + .zm-profile-section-item {
    padding-top: 12px
}

.zm-profile-section-list.profile-answer-wrap {
    margin-top: 7px
}

.zm-profile-empty {
    padding: 30px 0;
    text-align: center
}

.zm-profile-empty-icon {
    display: block;
    width: 32px;
    height: 30px;
    margin: 5px auto;
    background-repeat: no-repeat;
    background-position: -37px -2px
}

.zm-profile-empty-icon.ask {
    background-position: 0 0
}

.zm-profile-empty-icon.activity {
    background-position: -74px -9px
}

.zm-profile-empty-icon.log {
    background-position: -199px -5px;
    width: 24px
}

.zm-profile-empty-icon.collection {
    background-position: -237px -2px;
    width: 18px
}

.zm-profile-vote-page.be-voted .zm-profile-empty-icon {
    background-position: -155px -2px;
    width: 37px
}

.zm-profile-vote-page.vote .zm-profile-empty-icon {
    background-position: -114px -2px;
    width: 37px
}

.zm-profile-section-wrap .zm-item-more-wrap {
    border-top: 1px dotted #DDD
}

.zm-profile-header .Avatar, .zm-profile-header .ProfileAvatarEditor {
    float: left
}

.zm-profile-header-main {
    padding: 12px 18px
}

.zm-profile-header-main .top {
    font-size: 1.4em;
    margin-bottom: 10px
}

.zm-profile-header-main .top a {
    color: inherit
}

.zm-profile-header-main .name, .zm-profile-header-main .name:visited {
    font-weight: 700;
    color: #222
}

.zm-profile-header-main .OrgIcon {
    vertical-align: -1px
}

.zm-profile-header-info {
    margin-left: 115px
}

.zm-profile-header-img {
    border-radius: 4px;
    vertical-align: middle
}

.zm-profile-header-user-describe + .zm-profile-header-user-describe {
    padding-bottom: 0
}

html.no-touchevents .zm-profile-header-user-describe a:hover {
    color: #259;
    text-decoration: none
}

html.no-touchevents .zm-profile-header-user-describe a:hover span {
    text-decoration: underline
}

.zm-profile-header-icon {
    vertical-align: -2px;
    width: 15px;
    height: 14px;
    margin-right: 2px
}

.zm-profile-header-user-empty {
    float: left;
    margin-right: 12px;
    color: #999
}

.zm-profile-header-user-location .zm-profile-header-icon {
    background-position: -58px -110px
}

.zm-profile-header-user-company .zm-profile-header-icon {
    background-position: -75px -110px
}

.zm-profile-header-user-work .zm-profile-header-icon {
    background-position: -94px -110px
}

.zm-profile-header-user-empty .zm-profile-header-icon {
    background-position: -65px -68px
}

.zm-profile-header-user-gender {
    text-indent: -999px
}

.zm-profile-header-user-gender .zm-profile-header-icon {
    background-position: -145px -110px;
    float: left;
    margin-top: 4px
}

.zm-profile-header-user-gender-female .zm-profile-header-icon {
    background-position: -130px -110px
}

.zm-profile-header-user-weibo .zm-profile-header-icon.sina {
    background-position: -194px -110px;
    width: 16px
}

.zm-profile-header-user-weibo .zm-profile-header-icon.qq {
    background-position: -216px -110px;
    width: 11px;
    height: 15px
}

.zm-profile-header-user-detail .zm-profile-header-icon {
    background-position: -160px -110px
}

.zm-profile-icon-return .zm-profile-header-icon {
    background-position: -176px -110px
}

.zm-profile-header-info-list .zm-profile-header-icon {
    margin-right: 6px
}

.zm-profile-header-user-agree .zm-profile-header-icon {
    background-position: -123px -148px
}

.zm-profile-header-user-thanks .zm-profile-header-icon {
    background-position: -140px -146px
}

.zm-profile-header-user-describe .zm-profile-header-icon {
    background-position: -160px -110px
}

.zm-profile-header-description {
    overflow: hidden;
    position: relative;
    padding: 12px 15px 0 0;
    border-top: 1px dotted #eee;
    margin: 10px -18px 0 0
}

.zm-profile-header-description .zg-btn-blue {
    margin: 5px 0 0 !important;
    float: right
}

.zm-profile-header-description .info-empty-wrap .zg-icon {
    margin-right: 4px;
    margin-left: 3px
}

.zm-profile-header-marked, .zm-profile-header-operation {
    padding: 12px 18px;
    border-top: 1px dotted #eee
}

.zm-profile-header-marked .sprite-global-icon-marked {
    margin-right: 6px;
    vertical-align: -2px
}

.zm-profile-header-info-list {
    float: left
}

.zm-profile-header-info-title {
    margin-right: 5px
}

.zm-profile-header-operation .zm-profile-header-info-list {
    padding-top: 3px
}

.zm-profile-header-operation-inner {
    line-height: 14px
}

.zm-profile-header-operation strong {
    padding-right: 4px
}

.zm-profile-header-op {
    float: right
}

.zh-profile-op-menu-button {
    height: 17px;
    margin-left: 10px
}

.zh-profile-op-menu-button .zg-icon-dropdown-menu {
    background-position: -23px -148px;
    width: 25px;
    vertical-align: -1px
}

.zm-profile-header-user-agree {
    margin-right: 5px
}

.zm-profile-header-pm-btn {
    margin-left: 10px;
    height: 27px
}

.zm-profile-header-pm-btn .zg-icon {
    background-position: 0 -148px;
    margin-top: 2px;
    float: left;
    width: 17px;
    height: 14px;
    text-indent: -999em
}

.zm-profile-header-user-edit-btn {
    height: 27px;
    line-height: 17px;
    font-size: 13px
}

.zm-profile-header-operation-myview .zm-profile-header-info-list {
    padding-top: 0
}

.zm-profile-header .zu-entry-focus-single-way {
    margin: 0 5px 0 0
}

.zm-profile-side-section {
    padding: 2px 0
}

.zm-profile-side-section + .zm-profile-side-section {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #eee
}

.zm-profile-side-section-title {
    font-size: 14px;
    font-weight: 700;
    color: #666;
    padding-bottom: 10px;
    padding-top: 0;
    line-height: 1;
    white-space: nowrap;
    display: inline-block
}

.zm-profile-side-section-title .zg-link-litblue {
    font-size: 14px
}

.zm-profile-side-follower {
    float: left;
    width: 112px
}

.zm-profile-side-same-friends {
    float: left;
    width: 100%
}

.zm-profile-side-same-friends .zm-item-link-avatar {
    margin: 0 3px 0 0
}

.zm-profile-side-same-friends .zm-item-link-avatar img {
    border-radius: 2px;
    width: 25px;
    height: 25px
}

.zm-profile-side-same-friends .zm-profile-side-section-title {
    font-size: 13px;
    font-weight: 400
}

.zm-profile-side-same-friends .zm-profile-side-section-title .zg-link-litblue {
    font-size: 13px;
    font-weight: 400
}

.zm-profile-side-columns .link, .zm-profile-side-topics .link {
    float: left;
    margin-right: 4px
}

.zm-profile-side-columns .link, .zm-profile-side-topics .link, .zm-profile-side-columns .Avatar, .zm-profile-side-topics .Avatar {
    display: block;
    height: 34px;
    width: 34px;
    border-radius: 3px
}

.zm-profile-side-topic-list-item {
    padding: 8px 10px !important;
    border: 1px solid #ddd;
    border-radius: 4px
}

.zm-profile-side-topic-list-item + .zm-profile-side-topic-list-item {
    margin-top: 15px
}

.zm-profile-side-topic-list-item .zm-list-avatar-link {
    float: right
}

.zm-list-content-title.zm-profile-side-list-content-title {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    height: 20px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.zm-profile-side-list-content-bio {
    color: #666;
    font-size: 13px;
    padding-bottom: 4px
}

.zm-list-content-medium.zm-profile-side-list-content-medium {
    margin-left: 0
}

.zm-profile-side-list-meta {
    font-size: 12px;
    color: #999;
    line-height: 20px
}

.zm-profile-side-list-meta a {
    color: #999
}

html.no-touchevents .zm-profile-side-list-meta a:hover {
    color: #698ebf
}

.zm-profile-section-wrap {
    margin-top: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 0 #f2f4f5
}

.zm-profile-answer-page .zm-item + .zm-item {
    border-top: 1px solid #eee
}

.zm-profile-section-head {
    overflow: hidden;
    padding: 7px 14px;
    border-bottom: 1px solid #EEE
}

.zm-profile-section-name {
    float: left;
    font-size: 14px;
    font-weight: 700;
    color: #666
}

.zm-profile-section-more-btn {
    width: 15px;
    height: 15px;
    margin: 3px 0 5px 5px;
    background-position: -260px -162px
}

.zm-profile-section-title {
    overflow: hidden;
    text-decoration: none
}

html.no-touchevents a.zm-profile-section-title:hover {
    color: #259;
    text-decoration: none
}

html.no-touchevents a.zm-profile-section-title:hover .zm-profile-section-more-btn {
    background-position: -260px -184px
}

html.no-touchevents a.zm-profile-section-title:hover .zm-profile-section-name {
    color: #259
}

html.no-touchevents .zm-profile-answer-page .zm-item:hover .zu-autohide {
    display: inline-block
}

.zm-profile-answer-sort {
    font-size: 13px;
    position: relative
}

.zm-profile-answer-sort:hover {
    text-decoration: none
}

.zm-profile-ask-wrap .zm-profile-vote-count {
    background-color: #ddd;
    color: #666
}

.zm-profile-section-item[data-type=p] .column_link {
    color: #999
}

.zm-profile-section-main.zm-profile-section-activity-main {
    margin: 0;
    color: #999
}

.zm-profile-section-main.zm-profile-section-activity-main .zg-link {
    color: #999
}

.zm-profile-section-main.zm-profile-section-activity-main .OrgIcon {
    display: none
}

.zm-profile-section-main.zm-profile-section-activity-main .zm-item-link-avatar {
    float: left;
    margin: 0 8px 0 0;
    width: 20px;
    height: 20px
}

.zm-profile-section-main.zm-profile-section-activity-main .zm-item-link-avatar img {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px
}

.zm-profile-section-main.zm-profile-section-activity-main .zm-profile-side-topic-avatar {
    vertical-align: -5px;
    height: 20px;
    width: 20px
}

.zm-profile-section-main.zm-profile-section-activity-main .question_link, .zm-profile-section-main.zm-profile-section-activity-main .post-link {
    display: block;
    font-size: 14px;
    font-weight: 700
}

.zm-profile-section-main.zm-profile-section-activity-main .topic-link > .pic {
    margin-right: 5px;
    border-radius: 2px;
    vertical-align: -7px
}

.zm-profile-activity-avatar {
    float: none !important;
    vertical-align: middle;
    padding-right: 4px
}

.zm-profile-activity-page-item-main .zg-link-litblue {
    font-size: 13px
}

.zm-profile-activity-username {
    color: #222
}

.zm-profile-fav-return {
    float: right
}

.zm-profile-fav-item-title {
    font-size: 14px;
    font-weight: 700
}

.zm-profile-fav-edit {
    float: right
}

.zm-profile-fav-edit {
    font-size: 13px;
    color: #999
}

.zm-profile-fav-bio {
    color: #999;
    font-size: 13px
}

.zm-profile-fav-question-item .zg-link-litblue {
    font-size: 13px
}

.zu-question-form-hide-in-about-question .zm-question-form-hide-in-about-question-el {
    display: none
}

#zh-profile-following-topics-title {
    padding: 10px 0 8px
}

#zh-profile-op-menu-wrap .goog-menuitem, #zh-topic-side-head .goog-menuitem, #zh-list-side-head .goog-menuitem {
    padding: 3px 1em
}

#zh-profile-following-topics-wrap .zm-editable-editor-outer {
    padding: 0
}

.zu-entry-focus-button {
    margin: 0 5px 0 0
}

.zm-rich-follow-btn {
    padding: 0 5px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    white-space: nowrap
}

.zm-rich-follow-btn:focus {
    outline: 0
}

.zm-rich-follow-btn.small .zu-entry-focus-single-way {
    height: 13px;
    background-position: -14px -202px
}

.zm-rich-follow-btn.small .zu-entry-focus-each {
    height: 13px;
    background-position: -37px -202px
}

.zm-rich-follow-btn.small {
    padding: 0;
    width: 78px;
    height: 22px;
    line-height: 22px
}

.zm-rich-follow-btn.with-icon {
    min-width: 88px
}

#zh-profile-cancel-block, #zh-report-people {
    margin-left: 10px;
    float: right;
    line-height: 1;
    padding: 6px 10px
}

#zh-profile-about-question-form-inner {
    max-width: 410px;
    padding: 5px 0 3px
}

#zh-profile-about-question-form {
    position: relative;
    border-bottom: solid 2px #ddd;
    padding: 0 0 9px;
    margin: -2px 0 10px
}

#zh-profile-following-topic .zm-editable-editor-outer {
    padding: 0
}

#zh-profile-side-head {
    margin: 0 0 20px
}

#zh-profile-side-head > .zg-btn-white {
    margin: 0 5px 0 0
}

.zg-link-blue-normal {
    font-size: 12px
}

.zm-profile-section-grid {
    overflow: hidden
}

.zm-profile-section-grid .inner {
    margin: 0;
    overflow: hidden
}

.zm-profile-section-grid .zm-profile-section-list {
    padding: 0
}

.zm-profile-section-grid .item {
    position: relative;
    outline: 0;
    border-right: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    width: 50%
}

.zm-profile-section-grid .item:nth-of-type(even) {
    border-right: 0
}

.zm-profile-section-grid .item:nth-last-of-type(1), .zm-profile-section-grid .item:nth-of-type(odd):nth-last-of-type(2) {
    border-bottom: 0
}

@media (max-width: 1001px) {
    .zm-profile-section-grid .item {
        width: 100%;
        border-right: 0
    }

    .zm-profile-section-grid .item:nth-of-type(odd):nth-last-of-type(2) {
        border-bottom: 1px dotted #ddd
    }
}

.skilled-topics.editing .item {
    cursor: default !important
}

.skilled-topics .expert-item-moving {
    cursor: move;
    box-shadow: 0 0 8px #999
}

.column-list .item .description {
    padding: 2px 0
}

.zm-profile-section-wrap.zm-profile-section-grid .item:hover .arrow {
    display: block
}

.zm-profile-section-wrap.zm-profile-section-grid .item {
    text-decoration: none;
    cursor: pointer
}

.zm-profile-section-wrap.skilled-topics .editing .arrow {
    display: none !important
}

.html.no-touchevents .zm-profile-section-grid .item:hover {
    background: #fafafa
}

.zm-profile-section-grid .item, .expert-item-moving {
    box-sizing: border-box;
    min-height: 60px;
    float: left;
    padding: 12px 20px
}

.zm-profile-section-grid .item .description-edit, .expert-item-moving .description-edit {
    padding: 8px 0
}

.zm-profile-section-grid .item .description-edit .command, .expert-item-moving .description-edit .command {
    margin-top: 8px;
    display: inline-block;
    width: 196px;
    text-align: right
}

.zm-profile-section-grid .item .description-edit .command .zg-btn-blue, .expert-item-moving .description-edit .command .zg-btn-blue {
    padding: 2px 6px
}

.zm-profile-section-grid .item .description-edit input, .expert-item-moving .description-edit input {
    width: 175px
}

.zm-profile-section-grid .item .avatar, .expert-item-moving .avatar {
    float: left;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 36px;
    height: 50px;
    width: 50px;
    background: #fff
}

.zm-profile-section-grid .item .avatar img, .expert-item-moving .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 25px
}

.zm-profile-section-grid .item .del, .expert-item-moving .del, .zm-profile-section-grid .item .add, .expert-item-moving .add {
    display: none;
    cursor: pointer
}

.zm-profile-section-grid .item .content, .expert-item-moving .content {
    margin-left: 74px;
    min-height: 61px
}

.zm-profile-section-grid .item .content .content-inner h3, .expert-item-moving .content .content-inner h3, .zm-profile-section-grid .item .content .content-inner a, .expert-item-moving .content .content-inner a, .zm-profile-section-grid .item .content .content-inner p, .expert-item-moving .content .content-inner p {
    line-height: 20px
}

.zm-profile-section-grid .item .content .content-inner p, .expert-item-moving .content .content-inner p {
    margin: 0
}

.zm-profile-section-grid .item .content .description, .expert-item-moving .content .description {
    display: block;
    width: 185px;
    overflow: hidden;
    white-space: nowrap
}

.zm-profile-section-grid .item .content .des, .expert-item-moving .content .des {
    overflow: hidden;
    max-width: 140px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    height: 20px \0
}

.zm-profile-section-grid .item .content .meta, .expert-item-moving .content .meta {
    color: #999
}

.zm-profile-section-grid .item .content .meta span + span, .expert-item-moving .content .meta span + span {
    margin-left: 6px
}

.zm-profile-section-grid .item .content .meta .zg-icon, .expert-item-moving .content .meta .zg-icon {
    width: 13px;
    height: 13px;
    margin-right: 5px
}

.zm-profile-section-grid .item .content .meta .zg-icon.vote, .expert-item-moving .content .meta .zg-icon.vote {
    background-position: -125px -148px;
    width: 11px;
    height: 12px;
    vertical-align: 0
}

.zm-profile-section-grid .item .content .meta .zg-icon.comment, .expert-item-moving .content .meta .zg-icon.comment {
    background-position: -77px -111px;
    width: 10px;
    height: 11px
}

.zm-profile-section-grid .item .arrow, .expert-item-moving .arrow {
    background-position: -266px -164px;
    width: 9px;
    height: 13px;
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -7px;
    text-indent: -9999px;
    display: none
}

.zm-profile-section-grid .border {
    clear: both;
    height: 0;
    border-bottom: 1px dotted #ddd
}

.expert-item-moving {
    background: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 8px #999;
    z-index: 99999
}

.zm-profile-header {
}

.zm-profile-header .weibo-wrap {
    float: right
}

.zm-profile-header .weibo-wrap a + a {
    margin-left: 8px
}

.zm-profile-header .fold-wrap .fold-item {
    display: none
}

.zm-profile-header .fold-wrap .unfold-item {
    display: inline
}

.zm-profile-header .fold-wrap.fold .fold-item {
    display: inline
}

.zm-profile-header .fold-wrap.fold .unfold-item {
    display: none
}

.zm-profile-header .fold-wrap a.fold, .zm-profile-header .fold-wrap a.unfold {
    display: inline-block
}

.zm-profile-header .fold-wrap a.fold:hover, .zm-profile-header .fold-wrap a.unfold:hover {
    text-decoration: underline
}

.zm-profile-header .fold-wrap a.fold {
    float: right
}

.zm-profile-header .fold-wrap.disable-fold a.fold, .zm-profile-header .fold-wrap.disable-fold a.unfold {
    display: none
}

.zm-profile-side-following {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px
}

.zm-profile-side-following .item {
    float: left;
    text-decoration: none;
    padding: 2px 30px 8px 0
}

.zm-profile-side-following .item + .item {
    padding-left: 20px;
    border-left: 1px solid #eee
}

.zm-profile-side-following .item:hover span, .zm-profile-side-following .item:hover strong, .zm-profile-side-following .item:hover label {
    color: #259 !important
}

.zm-profile-side-following .item strong {
    font-size: 16px;
    font-weight: 700;
    color: #666
}

.zm-profile-side-following .item label {
    font-size: 13px;
    font-weight: 400;
    vertical-align: 1px;
    color: #666;
    cursor: pointer
}

.zm-profile-side-section .profile-side-op {
    list-style: none
}

.zm-profile-header .zm-profile-header-op-btns {
    float: right
}

.zm-profile-header .zm-profile-header-op-btns a, .zm-profile-header .zm-profile-header-op-btns button {
    float: left
}

.zm-profile-header .items {
    position: relative;
    min-height: 22px
}

.zm-profile-header .items.empty .zm-profile-header-user-detail {
    position: static
}

.zm-profile-header .business-selection {
    vertical-align: 1px
}

.zm-profile-header .business-selection select {
    width: 120px;
    height: 30px;
    height: 28px
}

.zm-profile-header .zu-edit-button span {
    text-decoration: none !important
}

.zm-profile-header .editable-group .zu-edit-button {
    visibility: hidden
}

.zm-profile-header .editable-group .zg-form-text-input {
    width: 100px;
    padding: 6px !important
}

.zm-profile-header .editable-group .zg-form-text-input.zm-editable-editor-inner {
    width: auto
}

.zm-profile-header .editable-group .zg-btn-blue {
    margin: -3px 0 0 8px
}

.zm-profile-header .editable-group .info-empty-wrap {
    display: none
}

.zm-profile-header .editable-group .info-wrap .item + .item {
    border-left: 1px solid #eee;
    margin-left: 6px;
    padding-left: 10px
}

.zm-profile-header .editable-group.editing .info-wrap, .zm-profile-header .editable-group.editing .info-empty-wrap {
    display: none !important
}

.zm-profile-header .editable-group.editing .edit-wrap {
    display: inline !important
}

.zm-profile-header .editable-group.empty .info-wrap {
    display: none
}

.zm-profile-header .editable-group.empty .info-wrap .edit {
    display: none
}

.zm-profile-header .editable-group.empty .info-empty-wrap {
    display: inline-block
}

.zm-profile-header .zm-profile-header-user-describe .item + .item {
    margin-top: 6px
}

.zm-profile-header .zm-profile-header-user-describe .item .zg-bull {
    text-indent: -9999px;
    border-right: 1px solid #EEE;
    line-height: 16px;
    padding: 0 6px 0 0;
    margin: 0 6px 0 0
}

.zm-profile-header .zm-profile-header-user-describe .item .topic-link {
    color: #666
}

.zm-profile-header .zm-profile-header-user-describe .item .topic-link:hover {
    color: #259
}

.zm-profile-header .zm-profile-header-user-describe .item .icon {
    margin-right: 6px
}

.zm-profile-header .zm-profile-header-user-describe .item .zg-icon-edit-button-blue {
    margin: 0
}

.vote-thanks-relation p + p {
    margin-top: 6px
}

.vote-thanks-relation .zg-icon {
    vertical-align: -2px;
    margin-right: 4px
}

.vote-thanks-relation .zg-icon.vote {
    background-position: -123px -184px;
    width: 20px;
    height: 14px
}

.vote-thanks-relation .zg-icon.be-voted {
    background-position: -123px -166px;
    width: 20px;
    height: 14px
}

.topic-input-wrap {
    position: relative
}

.topic-input-wrap .ac-renderer {
    top: auto;
    margin-top: 0 !important;
    width: auto;
    min-width: 300px
}

.topic-input-wrap .ac-renderer .ac-row {
    padding: 2px 8px
}

html.no-touchevents .editable-group:hover .zu-edit-button {
    visibility: visible
}

html.touchevents .editable-group .zu-edit-button {
    visibility: visible
}

.avatar-edit-preview-loading {
    position: absolute;
    z-index: 1;
    top: 44px;
    left: 44px
}

.avatar-edit-preview-loading span {
    display: block;
    background: url(/static/revved/img/spinner2.8f60205d.gif) no-repeat;
    width: 15px;
    height: 15px
}

.avatar-edit-preview-loading.topic {
    left: 18px;
    top: 21px
}

.zh-profile-account-status {
    margin-bottom: 20px;
    line-height: 40px;
    background: #f5f5f5;
    text-indent: 14px;
    border-radius: 4px
}

.privacy-info-wrap {
    margin-top: 25px;
    border-radius: 6px;
    text-align: center;
    border: 3px dashed #ddd;
    padding: 20px;
    color: #999
}

.zm-profile-section-wrap.memorial-banner {
    height: 160px;
    background-image: url(/static/revved/img/memorial_banner/memorial-banner.addd96be.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.zm-profile-section-wrap.memorial-banner a {
    display: block;
    width: 100%;
    height: 100%
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .zm-profile-section-wrap.memorial-banner {
        background-image: url(/static/revved/img/memorial_banner/memorial-banner@2x.5d47c0d9.png)
    }
}

@media (max-width: 767px) {
    .zm-profile-section-wrap.memorial-banner {
        height: 130px
    }
}

.zm-profile-section-wrap.publications .item {
    float: left;
    padding: 14px;
    width: 50%;
    height: 110px;
    text-decoration: none;
    border-right: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    box-sizing: border-box;
    overflow: hidden
}

.zm-profile-section-wrap.publications .item:nth-child(even) {
    border-right: 0
}

.zm-profile-section-wrap.publications .item:nth-last-child(1), .zm-profile-section-wrap.publications .item:nth-child(odd):nth-last-child(2) {
    border-bottom: 0
}

@media (max-width: 959px) {
    .zm-profile-section-wrap.publications .item {
        width: 100%;
        border-right: 0
    }

    .zm-profile-section-wrap.publications .item:nth-child(odd):nth-last-child(2) {
        border-bottom: 1px dotted #ddd
    }
}

.zm-profile-section-wrap.publications .item .image {
    float: left;
    margin-right: 16px;
    width: 60px;
    height: 80px;
    border: 1px solid #eee
}

.zm-profile-section-wrap.publications .item .title {
    margin-top: -4px;
    color: #666;
    font-size: 14px
}

.zm-profile-section-wrap.publications .item .intro {
    color: #999
}

.zm-profile-module {
    position: relative;
    padding: 24px 12px
}

.zm-profile-module + .zm-profile-module {
    border-top: 1px solid #eee
}

.zm-profile-module h3 {
    margin: -1px 0 0;
    float: left;
    width: 100px;
    text-align: right;
    color: #666
}

.zm-profile-module-desc {
    *zoom: 1;
    margin-left: 145px
}

.zm-profile-module-desc .zm-profile-details-items .ProfileItem {
    margin-top: 20px
}

.zm-profile-module-desc .zm-profile-details-items .ProfileItem:first-child {
    margin-top: 0
}

.zm-profile-details-reputation {
    padding: 24px 12px
}

.zm-profile-details-reputation div span {
    margin: 0 5px;
    color: #777;
    font-size: 14px;
    line-height: 18px
}

.zm-profile-icon-vote {
    background-position: -123px -147px
}

.zm-profile-icon-thank {
    background-position: -141px -146px
}

.zm-profile-details h3 .zm-profile-icon {
    margin: 0 5px 0 0;
    width: 16px;
    height: 14px
}

.zm-profile-icon-repu {
    background-position: -208px -147px
}

.zm-profile-icon-fav {
    background-position: -156px -146px
}

.zm-profile-icon-share {
    background-position: -173px -146px
}

.zm-profile-icon-company {
    background-position: -93px -110px
}

.zm-profile-icon-location {
    background-position: -57px -110px
}

.zm-profile-icon-edu {
    background-position: -111px -110px
}

.zm-profile-icon-expertise {
    background-position: -190px -147px
}

.zm-profile-icon-tags {
    background-position: -83px -96px
}

.zm-profile-icon-title {
    background-position: -65px -68px
}

.zm-profile-icon-return {
    background-position: -27px -125px
}

.zm-profile-icon-weibo {
    background-position: -125px -57px
}

.zm-profile-icon-male {
    background-position: -47px -41px
}

.zm-profile-icon-female {
    background-position: -156px -29px
}

.zm-profile-details-editform h3 {
    font-weight: 400
}

.zm-profile-details-editform .zg-form-text-input {
    width: 270px
}

.zm-profile-edit-fieldset {
    position: relative;
    margin: -8px 0 0;
    padding: 0;
    border: 0
}

.zm-profile-edit-fieldset .ac-renderer {
    width: 282px;
    margin-top: -2px
}

.zm-profile-edit-fieldset .ac-renderer .zm-item-img-avatar {
    width: 25px;
    height: 25px
}

.zm-profile-edit-fieldset p.desc {
    display: block;
    margin: 10px 0;
    color: #999
}

.zm-profile-details-editform .zm-profile-module-desc {
    margin-left: 140px
}

.zm-profile-details-editform-gender label {
    margin-right: 1em
}

.zm-profile-edit-fieldset input {
    margin-right: 1em;
    vertical-align: middle
}

.zm-profile-edit-fieldset p {
    margin: 0 0 1em
}

.zm-profile-details-editform-footer {
    background: #f5f5f5;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #ddd !important;
    box-shadow: 0 1px 0 #fff inset
}

.zm-profile-details-editform-footer button {
    padding: 8px 25px
}

.zm-profile-details-editform-footer p {
    text-align: center;
    position: relative
}

.zm-profile-details-editform-footer p a {
    position: absolute;
    left: 45px;
    top: 13px
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics {
    border: 1px dotted #EEE;
    padding: 0
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .item {
    position: relative
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .item .del, .zm-profile-expert-editform .zm-profile-module.skilled-topics .item .add {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    opacity: .6;
    -ms-filter: "alpha(Opacity=60)";
    text-indent: -9999px;
    border-radius: 2px;
    background: #259
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .item .del:hover, .zm-profile-expert-editform .zm-profile-module.skilled-topics .item .add:hover {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)"
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .item .del .minus, .zm-profile-expert-editform .zm-profile-module.skilled-topics .item .add .minus, .zm-profile-expert-editform .zm-profile-module.skilled-topics .item .del .plus, .zm-profile-expert-editform .zm-profile-module.skilled-topics .item .add .plus {
    position: absolute;
    background: #fff;
    border-radius: 3px
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .item .del .minus, .zm-profile-expert-editform .zm-profile-module.skilled-topics .item .add .minus {
    top: 6px;
    left: 3px;
    height: 3px;
    width: 9px
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .item .del .plus, .zm-profile-expert-editform .zm-profile-module.skilled-topics .item .add .plus {
    top: 3px;
    left: 6px;
    height: 9px;
    width: 3px
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .item h3 {
    text-align: left !important;
    width: auto;
    float: none
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .empty-tip {
    padding: 20px;
    text-align: center
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .empty-warning {
    margin-bottom: 25px;
    text-align: center
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .empty-warning .warning {
    padding: 8px;
    background: #f6f4d8;
    border: 1px solid #cebf99;
    border-radius: 4px
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .empty-warning .close-warning {
    margin: -5px 2px 0 100px;
    background-position: -247px -146px;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    opacity: .6;
    -ms-filter: "alpha(Opacity=60)"
}

.zm-profile-expert-editform .zm-profile-module.skilled-topics .empty-warning .close-warning:hover {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)"
}

.zm-profile-section-wrap.skilled-topics .zg-link-litblue-normal {
    padding: 1px 15px 0 0
}

#zh-expert-topics .item {
    cursor: move
}

#zh-expert-topics .item .del {
    display: block
}

#zh-active-topics .item .add {
    display: block
}

#zh-active-topics .avatar {
    border-radius: 0;
    border: 0
}

#zh-active-topics .avatar img {
    border-radius: 0
}

.zm-profile-module .tip {
    padding: 7px 0 3px;
    color: #999;
    margin: 0
}

.zm-profile-module .add-expert-tip {
    margin-bottom: 15px
}

.zm-profile-module #profile-expert-edit-input {
    margin-top: -2px
}

.zm-profile-module .reopen-tip {
    padding: 6px 10px;
    background: #F6FAFD;
    border: 1px solid #C7DAE3;
    border-radius: 4px;
    font-size: 12px;
    color: #666
}

.zm-profile-module .weibo-edit-wrap {
    padding-top: 6px
}

.zm-profile-module .weibo-edit-wrap input {
    margin: 0;
    vertical-align: 0
}

.profile-expert-tip {
    height: 183px;
    margin-top: 25px;
    background: url(/static/revved/img/Expertise.bf7b898f.png) no-repeat;
    position: relative
}

.profile-expert-tip .inner {
    padding: 45px 0 0 195px
}

.profile-expert-tip .inner h3 {
    font-size: 18px;
    color: #666
}

.profile-expert-tip .inner p {
    padding: 10px 0
}

.profile-expert-tip .inner .zg-btn-blue {
    padding: 2px 8px
}

.profile-expert-tip .close-btn {
    height: 8px;
    width: 8px;
    background-position: -267px -48px;
    display: block;
    float: none;
    position: absolute;
    top: 20px;
    right: 20px;
    text-indent: -9999px;
    opacity: .6;
    -ms-filter: "alpha(Opacity=60)"
}

.profile-expert-tip .close-btn:hover {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)"
}

#zh-profile-edit-expert .zg-section {
    margin: 0
}

.business-selection {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block
}

.business-selection select {
    background: transparent;
    width: 200px;
    padding: 5px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 32px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .profile-expert-tip {
        background: url(/static/revved/img/Expertise@2x.939f643a.png) no-repeat;
        background-size: 632px 183px
    }
}

.page-profile-ban .zu-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.page-profile-ban .zu-main-content {
    height: 100%;
    display: table
}

.page-profile-ban .zu-main-content-inner {
    height: 100%;
    display: table-cell;
    vertical-align: middle
}

.ProfileBan-wrapper {
    text-align: center
}

.ProfileBan-img {
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.ProfileBan-title {
    font-size: 14px;
    font-weight: 700;
    margin: 15px 0 4px
}

.ProfileBan-subtitle {
    color: #999
}

.ProfileBan-subtitle span {
    color: #666
}

.ProfileBan-link {
    margin-top: 12px
}