<div class="row">
	<p>添加文档引用</p>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<select class="form-control doc-selection" multiple="multiple" data-placeholder="引用文档" style="width: 100%;">
			</select>
		</div>
	</div>
</div>

<div class="box doc-box" style="display: none;">
	<div class="box-header">
		<h3 class="box-title">相关文档</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body no-padding">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>文件名</th>
					<th style="width: 60px">下载</th>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>


<script>

	var docItemHtml = ' <tr> \
	    <td>$title</td> \
	    <td> \
	    	<a href="http://$url" > \
	    		<span class="badge bg-red"> \
	    			<i class="ion ion-ios-cloud-download-outline"> \
	    			</i> \
	    		</span> \
	    	</a> \
	    </td> \
	</tr> ';
	var docSelectionHtml = '<img src="http://$icon" alt="a" width=20px height=20px ></img> <h3 class="selection-title">$title</h3>';
	
	var docSelect =initSelect({
		selectClass : "doc-selection",
		url: "/json/doc/search",
		idList : [],
		itemBox : $(".doc-box"),
		itemContainer : $(".doc-box").children(".box-body").children(".table").children("tbody"),
		itemHtml : docItemHtml,
		selectionItemHtml : docSelectionHtml
	});

</script>