#if(!$documents.isEmpty())
    <div class="box" id="ppt-quest-box">
        <div class="box-header">
            <h3 class="box-title">相关ppt</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>文件名</th>
                    <th style="width: 60px">下载</th>
                </tr>
                    #foreach($onePpt in $documents)
                        #parse("listItem/pptListItem.vm")
                    #end

                </tbody></table>
        </div>
        <!-- /.box-body -->
    </div>
#end