## editor命名为 editormd
<script src="/editor.md-master/editormd.js"></script>
<script src="/dist/js/tempSave.js"></script>
<script type="text/javascript">
	#if($question.id)
		var thisQuestionID = "$question.id";
	#else
		var thisQuestionID = "newQuestion";
	#end

	$(function() {
		var testEditor = editormd("editormd", {
			width: "90%",
			height: 340,
			path: '/editor.md-master/lib/',
			watch: true,
			emoji: true,
			
//			imageUpload: true,
//			imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
//			imageUploadURL: "./php/upload.php?test=dfdf",
			
			toolbarIcons: function() {
				return editormd.toolbarModes["simple"]
			},

			onload: editorOnLoad

		});
		testEditor.questionID = thisQuestionID;
		testEditor.timelySave = editorOnChange;

		function savePolling() {
			testEditor.timelySave();
			setTimeout(savePolling, 1000);
		}

		setTimeout(savePolling, 1000);

	});
</script>