## editor命名为 editormd

#parse("commonPart/editormdCssJs.vm")

<script type="text/javascript">
	#if($question.id)
		var thisQuestionID = "$question.id";
	#else
		var thisQuestionID = "newQuestion";
	#end

    var testEditor=null;
    var editorConfig=null;
    
    function setEditorConfig(config){
    	editorConfig = config;
    }

	$(function() {
		defaultEditorConfig = {
			width: "100%",
			height: 340,
			path: '/editor.md-master/lib/',
			watch: true,
			emoji: true,

			toolbarIcons: function() {
                return editormd.toolbarModes["simple"]
            },

			onload: editorOnLoad

		};
		
		if(editorConfig){
			$.extend(defaultEditorConfig, editorConfig);
		}
		
		testEditor = editormd("editormd", defaultEditorConfig);
		testEditor.questionID = thisQuestionID;
		testEditor.timelySave = editorOnChange;
		testEditor.isSubmitMarkDown = false;
		testEditor.clearStorage = function(){
			this.isSubmitMarkDown = true;
			console.log(this.questionID);
			localStorage[this.questionID] = "";
		};
		
		function savePolling() {
			if(!testEditor.isSubmitMarkDown){
				testEditor.timelySave();
				setTimeout(savePolling, 1000);
			}
		}

		setTimeout(savePolling, 1000);

		
	});
</script>