<div class="row">
	<p>添加wiki引用</p>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<select class="form-control wiki-selection" multiple="multiple" data-placeholder="引用wiki" style="width: 100%;">
			</select>
		</div>
	</div>
</div>

#if(!$wiki)
<div class="box box-solid wiki-box" style="display: none;">
	<div class="box-header with-border">
		<i class="fa fa-text-width"></i>

		<h3 class="box-title">WIKI</h3>
	</div>
	<div class="box-body">
	</div>
</div>
#else
<div class="box box-solid wiki-box">
	<div class="box-header with-border">
		<i class="fa fa-text-width"></i>

		<h3 class="box-title">WIKI</h3>
	</div>
	<div class="box-body">
		<blockquote> 
			<h4><a href="#" >$wiki.title</a><h4> 
	    	<p>$wiki.content</p> 
		</blockquote> 
	</div>
</div>
#end


<script>
	var wikiItemHtml = ' <blockquote> \
			<h4><a href="#" >$title</a><h4> \
	    	<p>$content</p> \
			</blockquote> ' ;
	var wikiSelectionHtml = '<i class="fa fa-text-width"></i> <h3 class="selection-title">$title</h3>';
	

	var wikiSelect = initSelect({
		selectClass : "wiki-selection",
		url: "/json/wiki/search",
		idList : [],
		itemBox : $(".wiki-box"),
		itemContainer : $(".wiki-box").children(".box-body"),
		itemHtml : wikiItemHtml,
		selectionItemHtml : wikiSelectionHtml
	});

</script>