<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>$userInfo.userName - 软乎</title>

    #parse("/templates/commonPart/commonCssAndJs.vm")
    <link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">

</head>

<body class="hold-transition skin-blue-light layout-top-nav">
<div class="wrapper">

    #parse("/templates/commonPart/mainHeader.vm")

    <div class="content-wrapper">
        <div class="container">

        ##            <div class="zg-wrap zu-main clearfix "  role="main">
        ##                <div class="zu-main-content">
            <div class="">
                <div class="row">
                    <div class="col-md-9" style="margin-top: 40px">
                        #parse("/templates/user/userDetail.vm")
                    </div>

                    <div class="col-md-3" style="margin-top: 40px">

                        #parse("/templates/user/user_rightSideBar.vm")
                    </div>
                </div>
                <div class="row" style="margin: 10px 10px">
                    <div class="box box-primary" id='current'>
                        <div class="box-header with-border">
                            <h3 class="box-title"> ${userName}</h3>
                        </div><!-- /.box-header -->

                        <div class="box-body"></div>

                        <div class="overlay" >
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./wrapper -->

    #parse("/templates/commonPart/addtionalJs.vm")


    <script src="/plugins/datepicker/bootstrap-datepicker.js"></script>

    <script>
        $('.zu-edit-button').click(function(){
            $(this).parent().css("display","none");
            $(this).parent().parent().children('.edit-wrap').css("display","inline");
        });

        var editAllowed = $!isMe;
        if(editAllowed) {
            $('#notification-nav').parent().show();

            $('.zu-edit-button').css("display", "inline");

            $('#editDescription').click(function () {
                var val = $('#description-input').val();
                jQuery.ajax({
                    type: "POST",
                    url: "/json/editDescription",
                    data: {"description": val},
                    dataType: "json",
                    success: function () {
                        $('.edit-wrap').css("display", "none");
                        $('.info-wrap').css("display", "inline");
                        $('.description').text(val);
                    }, error: function (xhr) {
                        console.log(xhr.responseText);
                        $('.edit-wrap').css("display", "none");
                        $('.info-wrap').css("display", "inline");
                        $('.description').text(val);
                    }
                });
            });

            $('#editBirthday').click(function () {
                var val = $('#datepicker').val();

                jQuery.ajax({
                    type: "POST",
                    url: "/json/editBirthday",
                    data: {"birthday": val},
                    dataType: "json",
                    success: function () {
                        $('.edit-wrap').css("display", "none");
                        $('.info-wrap').css("display", "inline");
                        $('.birthday').text(val);
                    }, error: function (xhr) {
                        console.log(xhr.responseText);
                        $('.edit-wrap').css("display", "none");
                        $('.info-wrap').css("display", "inline");
                        $('.birthday').text(val);
                    }
                });
            });

            $('#editLocation').click(function () {
                var val = $('#location-input').val();
                jQuery.ajax({
                    type: "POST",
                    url: "/json/editLocation",
                    data: {"location": val},
                    dataType: "json",
                    success: function () {
                        $('.edit-wrap').css("display", "none");
                        $('.info-wrap').css("display", "inline");
                        $('.location').text(val);
                    }, error: function (xhr) {
                        console.log(xhr.responseText);
                        $('.edit-wrap').css("display", "none");
                        $('.info-wrap').css("display", "inline");
                        $('.location').text(val);
                    }
                });
            });


            //Date picker
            $('#datepicker').datepicker({
                autoclose: true
            });

        }


        var trigger = window.location.search.substring(1);
        if(trigger=='trigger') {
            console.log(trigger);
            $("#current").load("/userProfile/showAnswers?userName=" + '$!{userInfo.userName}');
        }else
            $("#current").load("/userProfile/showQuestion?userName=" + '$!{userInfo.userName}');
        $('#question-nav').click(function() {
            $("#current").append('<div class="overlay" > <i class="fa fa-refresh fa-spin"></i> </div>');
            $("#current").load("/userProfile/showQuestion?userName=" + '$!{userInfo.userName}');
        });
        $('#answer-nav').click(function() {
            $("#current").append('<div class="overlay" > <i class="fa fa-refresh fa-spin"></i> </div>');
            $("#current").load("/userProfile/showAnswers?userName=" + '$!{userInfo.userName}');
        });


    </script>


</body>

</html>