<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		#parse("commonPart/commonCssAndJs.vm")
		<link rel="stylesheet" href="/dist/css/editormd.css" />
		
		#parse("commonPart/editorCreator.vm")
		
		<script>
			setEditorConfig({width:"96%"});
		</script>
		
		<title>问题详情 - 软乎</title>

		<style type="text/css">
			p{
				margin-left: 12px;
				font-size: 16px;
			}
		</style>


	</head>

	<body class="hold-transition skin-blue-light layout-top-nav">
		<div class="wrapper">

			#parse("commonPart/mainHeader.vm")

			<div class="content-wrapper">
				<div class="container">

					<section class="content-header">
						<h3>
        	提问
       </h3>
       
					</section>

					<div class="row">

						<div class="col-md-9 col-sm-9 col-xs-12">
							<hr />
							
							
							<div class="row">
								<p>标题</p>
							</div>
							
							<div class="body-question">
							<!--<form id="submit_question">-->
							<div class="input-title">
								<input type="text" class="submit-input" id="question_title" name="post_title" placeholder="Your Question">
					
							</div>
						
						
							<div id="question-tag-container">
							
							<div class="row">
								<p>添加标签</p>
							</div>
							
							<input data-provide="typeahead" type="text" class="submit-input tags-input" id="question_tags" name="question_tags" placeholder="回车添加标签">
							<ul class="tags-list" id="tag_list"><li class="tag-item">
						
									google glass <a href="javascript:void(0)" class="delete"><i class="fa fa-times"></i></a>
						
								</li>
							</ul>
								
							
							</div>
							
							#parse("commonPart/wikiSelector.vm")
						
							#parse("commonPart/docSelector.vm")
								
							<div class="row">
									<p>问题说明</p>
							</div>
								
							
							<div class="wp-editor-container">
								
								<div class="row">
									<div id="editormd">
										<textarea style="display:none;"></textarea>
									</div>
								</div>
								
							</div>
							
							
							
							<button id="btn_submit_question" onclick="submitQuestion()" class="btn-submit-question">提交问题 </button>
							
							<!--</form>-->
							
							<hr />
						</div>	
							
						</div>

						#parse("commonPart/rightSideBar.vm")

					</div>
				</div>
			</div>
			<!-- ./wrapper -->

		<script type="text/javascript">
			function submitQuestion(){
				var questionTitle = document.getElementById("question_title").value;
				var questionDescript = testEditor.getMarkdown();
				testEditor.clearStorage();
				$.stdPost("/submitQuestion",{title: questionTitle, description: questionDescript});
			}
			
			var multipleSelect = null;
			
//			initWikiSelection();
			
		
		</script>
		##parse("commonPart/addtionalJs.vm")
	</body>

</html>