<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
    <meta http-equiv="Expires" CONTENT="0">        
    <meta http-equiv="Cache-Control" CONTENT="no-cache">        
    <meta http-equiv="Pragma" CONTENT="no-cache">        
      
    <title>软乎 - 登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
 		<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="//cdn.bootcss.com/font-awesome/4.6.2/css/font-awesome.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="dist/ruanhuCss/ruanhu.css">

		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="/dist/js/stdGetAndPost.js"></script>

  </head>
    
    <script>
        function loginVerify(){
            
            $.ajax({
                type: "post",
                url:"/json/loginVerify",
                data: $("#loginForm").serialize(),
                success: function(msg){
                	console.log(msg);
									if(msg.result == "SUCCESS"){
										window.location.href = msg.formerUrl;
									}
                        
                }
            });

        }
            
    </script>
    
  <body class="hold-transition login-page">
      

      
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>软乎</b></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">封装经验，复用思想</p>
        <hr />
        <form id="loginForm" method="post">
        	<p class="text-center">账 号</p>
        	<div class="input-group">
  					<input name="username" type="text" class="form-control" aria-describedby="basic-addon2">
  					<span class="input-group-addon glyphicon glyphicon-user"></span>
					</div>
          
          <p class="text-center">密 码</p>
          <div class="input-group"/>
            <input name="password" type="password" class="form-control" aria-describedby="basic-addon2">
          	<span class="input-group-addon glyphicon glyphicon-lock"></span>
          </div>
          <hr/>
          <div class="row" >
            <div class="col-xs-2">
              
            </div>
            <div class="col-xs-8">
              <button type="button" onclick="loginVerify()" class="btn btn-primary btn-block btn-flat">登录</button>
            </div><!-- /.col -->
            
            <div class="col-xs-2">
              
            </div>
            
          </div>
        </form>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

  </body>
</html>
