<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>首页 - 软乎</title>

		#parse("commonPart/commonCssAndJs.vm")


	</head>

	<body class="hold-transition skin-blue-light layout-top-nav">
		<div class="wrapper">

			#parse("commonPart/mainHeader.vm")

			<div class="content-wrapper">
				<div class="container">

					<section class="content-header">
						<h1>
        	一些问题
        <small>找找你感兴趣的</small>
      </h1>
					</section>

					<div class="row">

						<div class="col-md-9 col-sm-9 col-xs-12">
							<hr />
							<div class="row">

								<div class="col-md-4 col-xs-4">
									<ul class="question-statistic">
										<li>
											<span class="question-views">
10344 </span> 浏览 </li>
										<li class="active">
											<span itemprop="answerCount" class="question-answers">
0 </span> 回答 </li>
										<li style="margin-right: 0px;">
											<span itemprop="upvoteCount" class="question-votes">
2 </span> 投票 </li>
									</ul>
									<div class="pumping">
									</div>
								</div>

								<div class="col-md-8 col-xs-4">
									<div class="q-ltop-content">
										<h2><a>马上上大二了,暑假学python应该看什么书?</a></h2>
									</div>

									<div class="q-lbtm-content">

										<div class="question-cat">
											<ul class="question-tags">
												<li>
													<a class="q-tag">
														apps </a>
												</li>
												
											</ul>
											<div class="clearfix"></div>
											<a>
												<span class="author-avatar">
<img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt=""> </span>
												<span itemprop="name" class="author-name">admin</span>
											</a>

											<span itemprop="dateCreated" datetime="on June 9, 2014" class="question-time">
											Asked on June 9, 2014 in 
										</span>
										</div>

									</div>
								</div>

							</div>
							<hr/>
						</div>

						#parse("commonPart/rightSideBar.vm")

					</div>
				</div>
			</div>
			<!-- ./wrapper -->

		#parse("commonPart/addtionalJs.vm")
	</body>

</html>