<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

		
		
		<title>问题详情 - 软乎</title>

		#parse("commonPart/commonCssAndJs.vm")
		<link rel="stylesheet" href="/dist/css/editormd.css" />
		#parse("commonPart/editorCreator.vm")

        <script>
				#if($question.id)
                var aQuestionId = "$question.id";
				#else
                var aQuestionId = "newQuestion";
				#end
            function vote() {
                console.log(this.answerid);
            }
        </script>


	</head>

	<body class="hold-transition skin-blue-light layout-top-nav">
		<div class="wrapper">

			#parse("commonPart/mainHeader.vm")

			<div class="content-wrapper">
				<div class="container">
		
					<section class="content-header">
					<div class="col-md-9 col-sm-9 col-xs-12">
						<h3>
			        		$question.getTitle()
			       		</h3>
			       	</div>
					</section>

					<div class="row">

						<div class="col-md-9 col-sm-9 col-xs-12">
							<hr />
							<div class="row">

								<div class="col-md-2 col-xs-2">
									<ul class="question-upDown">
										<li title="" data-original-title="This is useful.">
											<a id="up" title="This is useful." data-container="body" data-toggle="popover" data-content="You must have 5 points to vote up." href="javascript:void(0)" data-name="vote_up" class="action vote vote-up img-circle " data-original-title="" title="">
											<i class="fa fa-chevron-up"></i>
											</a>
										</li>
										
									 	<li data-original-title="" title="">
										<span itemprop="upvoteCount" class="vote-count">-1</span>
										</li>
									 
										<li title="" data-original-title="This is not useful">
											<a id="down" title="This is not useful" data-container="body" data-toggle="popover" data-content="You must have 500 points to vote down." href="javascript:void(0)" data-name="vote_down" class="action vote vote-down img-circle " data-original-title="" title="">
											<i class="fa fa-chevron-down"></i>
											</a>
										</li>
									 
										<!--<li class="single-question-pump" data-original-title="" title="">
										</li>-->
									</ul>
									<div class="pumping">
									</div>
								</div>
								<div>
									<ul class="question-tags">
										<li>
											<a class="q-tag">
												无标签</a>
										</li>
										
										
									</ul>
								</div>
								<div class="col-md-10 col-xs-6">
									<div class="q-ltop-content">
										<p >
										$question.content
										</p>										
									</div>

									<div class="q-lbtm-content">

										<div class="question-cat">
											
											<div class="clearfix"></div>
											<a>
												<span class="author-avatar">
												<img src="$question.author.photoUri"/>  </span>
												<span itemprop="name" class="author-name">$question.author.userName</span>
											</a>

											<span itemprop="dateCreated" datetime="on June 9, 2014" class="question-time">
											发布于   $question.getCreateAtForView()
										</span>
										</div>

									</div>
								</div>

							</div>
							<hr/>
							
							
							
							
							<div class="row">
								<div class="col-md-4 col-xs-4">
									<p><b>$question.answerCount 个回答</b></p>
								</div>
							</div>
							<hr/>
							
							
							#foreach($oneAnswer in $answerOfQuestion)
								#parse("/listItem/answerListItem.vm")
							#end
							
							
							
							<div class="row">
								<div class="col-md-4 col-xs-4">
									<p><b>添加我的回答</b></p>
								</div>
							</div>
							<hr/>
							
							
							<div class="row">
								<div id="editormd">
									<textarea style="display:none;"></textarea>
								</div>
							</div>
							
							<div class="row">
								<div id="submit-answer">
									<input class="answer-btn" type="button" onclick="submitAnswer()" value="提交答案 "></input>
								</div>
							</div>
							
							
							
							
						</div>

						#parse("commonPart/rightSideBar.vm")

					</div>
				</div>
			</div>
			<!-- ./wrapper -->
			<script type="text/javascript">
				#if($question.id)
					var myQuestionId = "$question.id";
				#else
					var myQuestionId = "newQuestion";
				#end
				function submitAnswer() {
                    $.ajax({
                        type: "POST",
                        url:"/answer/saveAnswer",
                        data: {questionId:myQuestionId, markedText:testEditor.getMarkdown()},
                        success: function(msg){
                            console.log(msg);
                            location.reload(true);
                        }
                    });
                }
			</script>
	</body>

</html>