<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

		
		
		<title>问题详情 - 软乎</title>

		#parse("commonPart/commonCssAndJs.vm")
		<link rel="stylesheet" href="/dist/css/editormd.css" />
		#parse("commonPart/editorCreator.vm")

        <script>
				#if($question.id)
                var aQuestionId = "$question.id";
				#else
                var aQuestionId = "newQuestion";
				#end
        </script>


	</head>

	<body class="hold-transition skin-blue-light layout-top-nav">
		<div class="wrapper">

			#parse("commonPart/mainHeader.vm")

			<div class="content-wrapper">
				<div class="container">
		
					<section class="content-header">
					<div class="col-md-9 col-sm-9 col-xs-12">
						<h3 id="question-title-h">$question.title
			       		</h3>
			       	</div>
					</section>

					<div class="row">

						<div class="col-md-9 col-sm-9 col-xs-12">
							<hr />
							<div class="row">

								<div class="col-md-2 col-xs-2">
									<ul class="question-upDown" isVote="$question.isVote">
										<li title="" data-original-title="This is useful.">
											<a id="up" title="支持" onclick="upQuesVote(this,this.parentNode.parentNode)" data-container="body" data-toggle="tooltip" data-content="You must have 5 points to vote up." href="javascript:void(0)" data-name="vote_up" class="action vote vote-up img-circle " data-original-title="" title="">
												<i class="fa fa-chevron-up"></i>
											</a>
										</li>
										
									 	<li data-original-title="" title="">
										<span id="questionVoteCount" itemprop="upvoteCount" class="vote-count">$question.voteCount</span>
										</li>
									 
										<li title="" data-original-title="This is useless">
											<a id="down" title="反对"  onclick="downQuesVote(this,this.parentNode.parentNode)" data-container="body" data-toggle="tooltip" data-content="You must have 500 points to vote down." href="javascript:void(0)" data-name="vote_down" class="action vote vote-down img-circle " data-original-title="" title="">
											<i class="fa fa-chevron-down"></i>
											</a>
										</li>
									 
										<!--<li class="single-question-pump" data-original-title="" title="">
										</li>-->
									</ul>
									<div class="pumping">
									</div>
								</div>
								<div>

                                    <ul class="post-controls">
                                        <li>
                                            <a href="#"  data-toggle="tooltip" data-original-title="Edit" data-name="edit" class="post-edit-qes action">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="tooltip" onclick="delQuestion()" data-original-title="Delete" data-name="delete" class="post-delete-qes action">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </li>

                                    </ul>


									<ul class="question-tags">
										<li>
											<a class="q-tag">
												无标签</a>
										</li>

									</ul>
								</div>
								<div class="col-md-10 col-xs-6">
                                    <div id="edit-question">
                                        <div id="edit-question-field">
                                        </div>
                                        <button id="btn_submit_question" class="answer-btn" style="display: none">提交问题修改</button>
                                        <button id="btn_cancel_question" class="answer-btn" style="display: none">取消修改</button>

                                    </div>

                                    <div id="question-show-area">
									<div id="answer-markdown-area-$question.id" class="pure-markdown q-ltop-content">
                						<textarea style="display:none;" id="question-textarea">
$question.content
               	 						</textarea>
									</div>
                                    </div>


                                    #if(!$question.wikiItems.isEmpty())
                                        <div class="box box-solid" id="wiki-quest-box">
                                            <div class="box-header with-border">
                                                <i class="fa fa-text-width"></i>
                                                <h3 class="box-title">wiki</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                #foreach($oneWiki in $question.wikiItems)
                                                #parse("listItem/wikiListItem.vm")
                                            #end
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    #end




                                    #if(!$question.documents.isEmpty())
                                        <div class="box" id="ppt-quest-box">
                                            <div class="box-header">
                                                <h3 class="box-title">相关ppt</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body no-padding">
                                                <table class="table table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <th>文件名</th>
                                                        <th style="width: 60px">下载</th>
                                                    </tr>
                                                        #foreach($onePpt in $question.documents)
                                                            #parse("listItem/pptListItem.vm")
                                                        #end

                                                    </tbody></table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    #end



                                    <div class="q-lbtm-content">

										<div class="question-cat">
											
											<div class="clearfix"></div>
											<a href="/userProfile/$question.author.userName">
												<span class="author-avatar">
												<img src="$question.author.photoUri"/>  </span>
												<span itemprop="name" class="author-name">$question.author.userName</span>
											</a>

											<span itemprop="dateCreated" datetime="on June 9, 2014" class="question-time">
											发布于   $question.getCreateAtForView()
										</span>
										</div>

									</div>
								</div>

							</div>
							<hr/>
							
							
							
							
							<div class="row">
								<div class="col-md-4 col-xs-4">
									<p><b>$question.answerCount 个回答</b></p>
								</div>
							</div>
							<hr/>
							
							
							#foreach($oneAnswer in $answerOfQuestion)
								#parse("listItem/answerListItem.vm")
							#end
							
							
							
							<div class="row">
								<div class="col-md-4 col-xs-4">
									<p><b>添加我的回答</b></p>
								</div>
							</div>
							<hr/>
							
							
							<div class="row">
								<div id="editormd">
									<textarea style="display:none;"></textarea>
								</div>
							</div>
							
							<div class="row">
								<div id="submit-answer">
									<input class="answer-btn" type="button" onclick="submitAnswer()" value="提交答案 "></input>
								</div>
							</div>
							<hr/>
							
							
							
							
						</div>

						#parse("commonPart/rightSideBar.vm")

					</div>
				</div>
			</div>
			<!-- ./wrapper -->
			<script type="text/javascript">
				#if($question.id)
					var myQuestionId = "$question.id";
				#else
					var myQuestionId = "newQuestion";
				#end



                $('.vote-up').each(function () {
                    if($(this).parent().parent().attr('isVote')==1){
                        $(this).addClass('bg-blue');
                    }

                });
                $('.vote-down').each(function () {
                    if($(this).parent().parent().attr('isVote')==-1){
                        $(this).addClass('bg-blue');
                    }

                });


                function upVote(obj,prt) {
//					console.log("up-vote");
                    var answerIdThis = prt.getAttribute("answerid");
                    var userIdThis = $user.id;
                    $.ajax({
                        type : "GET",
                        url: "/json/answer/upVote",
                        data: {questionId: aQuestionId, answerId:answerIdThis, userId:userIdThis},
                        success: function(msg){
//							console.log("msg"+msg);
                            $("#answerVoteCount").text(msg);

//							console.log("up:"+prt.getAttribute("isVote"));
							if(prt.getAttribute("isVote")!=1) {
                                prt.setAttribute("isVote",1);
                                prt.getElementsByClassName('vote-down')[0].setAttribute("class","action vote vote-down img-circle");
                                obj.setAttribute("class", "action vote vote-up img-circle bg-blue");
                            }else{
                                prt.setAttribute("isVote",0);
                                obj.setAttribute("class","action vote vote-up img-circle");
							}

                        }
                    });
                }

                function downVote(obj,prt) {
                    var answerIdThis = prt.getAttribute("answerid");
                    var userIdThis = $user.id;
                    $.ajax({
                        type : "GET",
                        url: "/json/answer/downVote",
                        data: {questionId: aQuestionId, answerId:answerIdThis, userId:userIdThis},
                        success: function(msg){
//                            console.log("msg"+msg);
                            $("#answerVoteCount").text(msg);

                            console.log("up:"+prt.getAttribute("isVote"));
                            if(prt.getAttribute("isVote")!=-1) {
                                prt.setAttribute("isVote",-1);
                                prt.getElementsByClassName('vote-up')[0].setAttribute("class","action vote vote-up img-circle");
                                obj.setAttribute("class", "action vote vote-down img-circle bg-blue");
                            }else{
                                prt.setAttribute("isVote",0);
                                obj.setAttribute("class","action vote vote-down img-circle");
                            }

                        }
                    });
                }

                function upQuesVote(obj,prt) {
//					console.log("up-vote");
                    var id = aQuestionId;
                    var userIdThis = $user.id;
                    $.ajax({
                        type : "GET",
                        url: "/json/up",
                        data: {questionId: id, userId:userIdThis},
                        dataType : "json",
                        success: function(msg){
//							console.log("msg"+msg);
                            $("#questionVoteCount").text(msg);

                            if(prt.getAttribute("isVote")!=1) {
                                prt.setAttribute("isVote",1);
                                prt.getElementsByClassName('vote-down')[0].setAttribute("class","action vote vote-down img-circle");
                                obj.setAttribute("class", "action vote vote-up img-circle bg-blue");
                            }else{
                                prt.setAttribute("isVote",0);
                                obj.setAttribute("class","action vote vote-up img-circle");
                            }

                        }
                    });
                }

                function downQuesVote(obj,prt) {
//					console.log("up-vote");
                    var id = aQuestionId;
                    var userIdThis = $user.id;
                    $.ajax({
                        type : "GET",
                        url: "/json/down",
                        data: {questionId: id, userId:userIdThis},
                        dataType : "json",
                        success: function(msg){
//                            console.log("msg"+msg);
                            $("#questionVoteCount").text(msg);

                            if(prt.getAttribute("isVote")!=-1) {
                                prt.setAttribute("isVote",-1);
                                prt.getElementsByClassName('vote-up')[0].setAttribute("class","action vote vote-up img-circle");
                                obj.setAttribute("class", "action vote vote-down img-circle bg-blue");
                            }else{
                                prt.setAttribute("isVote",0);
                                obj.setAttribute("class","action vote vote-down img-circle");
                            }

                        }
                    });
                }



                function submitAnswer() {
					var markdown = testEditor.getMarkdown();
					testEditor.clearStorage();
                    $.ajax({
                        type: "POST",
                        url:"/answer/saveAnswer",
                        data: {questionId:myQuestionId, markedText:markdown},
                        success: function(msg){
                            console.log(msg);
                            location.reload(true);
                        }
                    });
                }
				
				parseAllMarkDown();

                $("[data-toggle='tooltip']").tooltip();

                var quesEditormd;

                $(function() {
                    $(".post-edit-qes.action").click(function(){
                        $.getScript("/editor.md-master/editormd.js", function() {
                            $("#question-show-area").hide();

                            $("#edit-question-field").append("<div id=\"ques-editormd\"></div>");
                            $("#btn_submit_question").css('display','inline');
                            $("#btn_cancel_question").css('display','inline');
                            quesEditormd = editormd("ques-editormd", {
                                width: "100%",
                                height: 440,
                                markdown :  $("#question-textarea").text(),
                                path : '/editor.md-master/lib/',
                                emoji: true,
                                toolbarIcons: function() {
                                    return editormd.toolbarModes["simple"]
                                },
                            });
                        });
                        quesEditormd.setToolbarAutoFixed(true);
                    });


                    $("#btn_cancel_question").click(function(){
                        quesEditormd.editor.remove();
                        $("#question-show-area").show();
                        $("#btn_submit_question").css('display','none');
                        $("#btn_cancel_question").css('display','none');
                    });

                    $("#btn_submit_question").click(function(){
                        var markdown = quesEditormd.getMarkdown();
                        var mytitle=$("#question-title-h").text();
                        quesEditormd.editor.remove();
                        $("#btn_submit_question").css('display','none');
                        $("#btn_cancel_question").css('display','none');
                        $("#question-show-area").html(quesEditormd.getPreviewedHTML());
                        $("#question-show-area").show();

                        $.ajax({
                            type: "POST",
                            url:"/question/edit",
                            data: {id:myQuestionId, title:mytitle,description:markdown},
                            success: function(msg){
                                console.log(msg);
                                location.reload(true);
                            }
                        });

                    });
                });




                var answerEditormd;
                function editAnswer(obj) {

                    var answerIdThis = obj.getAttribute("answerid");

                    $.getScript("/editor.md-master/editormd.js", function() {
                        $("#answer-show-area-"+answerIdThis).hide();
                        $("#btn_submit_answer-"+answerIdThis).css('display','inline');
                        $("#btn_cancel_answer-"+answerIdThis).css('display','inline');
                        $("#edit-answer-field-"+answerIdThis).append("<div id=\"answer-editormd\"></div>");
                        answerEditormd = editormd("answer-editormd", {
                            width: "100%",
                            height: 440,
                            markdown :  $("#answer-textarea-"+answerIdThis).text(),
                            path : '/editor.md-master/lib/',
                            emoji: true,
                            toolbarIcons: function() {
                                return editormd.toolbarModes["simple"]
                            },
                        });
                    });
                    $("#btn_cancel_answer-"+answerIdThis).click(function(){

                        answerEditormd.editor.remove();
                        $("#answer-show-area-"+answerIdThis).show();
                        $("#btn_submit_answer-"+answerIdThis).css('display','none');
                        $("#btn_cancel_answer-"+answerIdThis).css('display','none');

                    });
                    $("#btn_submit_answer-"+answerIdThis).click(function(){
                        var markdown = answerEditormd.getMarkdown();
                        answerEditormd.editor.remove();
                        $("#btn_submit_answer-"+answerIdThis).css('display','none');
                        $("#btn_cancel_answer-"+answerIdThis).css('display','none');
                        $("#answer-show-area-"+answerIdThis).html(answerEditormd.getPreviewedHTML());
                        $("#answer-show-area-"+answerIdThis).show();

                        $.ajax({
                            type: "POST",
                            url:"/answer/edit",
                            data: {qid:myQuestionId, aid:answerIdThis,text:markdown},
                            success: function(msg){
                                console.log(msg);
                                location.reload(true);
                            }
                        });
                    });
                }


                function delQuestion() {
                    var userIdThis = $user.id;
                    alert("delete userId "+userIdThis);
                    $.stdPost("/question/delete",
                            {
                                questionId:myQuestionId, userId:userIdThis
                            });
                }

                function delAnswer(obj) {
                    var userIdThis = $user.id;
                    var answerIdThis = obj.getAttribute("answerid");
                    alert("delete userId "+userIdThis+"");
                    $.ajax({
                        type: "POST",
                        url:"/answer/delete",
                        data: {aid:answerIdThis,userId:userIdThis,qid:myQuestionId,},
                        success: function(msg){
                            console.log(msg);
                            location.reload(true);
                        }
                    });

                }



			</script>


	</body>

</html>