<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

		
		
		<title>问题详情 - 软乎</title>

		#parse("commonPart/commonCssAndJs.vm")
		<link rel="stylesheet" href="/dist/css/editormd.css" />
		#parse("commonPart/editorCreator.vm")

        <script>
				#if($question.id)
                var aQuestionId = "$question.id";
				#else
                var aQuestionId = "newQuestion";
				#end

            function upVote(obj) {
                var answerIdThis = obj.getAttribute("answerid");
				var userIdThis = $user.id;
				$.ajax({
					type : "GET",
					url: "/answer/upVote",
					data: {questionId: aQuestionId, answerId:answerIdThis, userId:userIdThis},
                    success: function(msg){
                        $("#answerVoteCount").text(msg);
                        obj.parentNode.setAttribute("class","action vote vote-up img-circle bg-blue");
                    }
				});
            }
            function downVote(obj) {
                var answerIdThis = obj.getAttribute("answerid");
                var userIdThis = $user.id;
                $.ajax({
                    type : "GET",
                    url: "/answer/downVote",
                    data: {questionId: aQuestionId, answerId:answerIdThis, userId:userIdThis},
                    success: function(msg){
                        console.log(msg);
                    }
                });
            }

        </script>


	</head>

	<body class="hold-transition skin-blue-light layout-top-nav">
		<div class="wrapper">

			#parse("commonPart/mainHeader.vm")

			<div class="content-wrapper">
				<div class="container">
		
					<section class="content-header">
					<div class="col-md-9 col-sm-9 col-xs-12">
						<h3>$question.title
			       		</h3>
			       	</div>
					</section>

					<div class="row">

						<div class="col-md-9 col-sm-9 col-xs-12">
							<hr />
							<div class="row">

								<div class="col-md-2 col-xs-2">
									<ul class="question-upDown">
										<li title="" data-original-title="This is useful.">
											<a id="up" title="顶一下" data-container="body" data-toggle="tooltip" data-content="You must have 5 points to vote up." href="javascript:void(0)" data-name="vote_up" class="action vote vote-up img-circle " data-original-title="" title="">
												<i class="fa fa-chevron-up"></i>
											</a>
										</li>
										
									 	<li data-original-title="" title="">
										<span itemprop="upvoteCount" class="vote-count">$question.voteCount</span>
										</li>
									 
										<li title="" data-original-title="This is not useful">
											<a id="down" title="踩一下" data-container="body" data-toggle="tooltip" data-content="You must have 500 points to vote down." href="javascript:void(0)" data-name="vote_down" class="action vote vote-down img-circle " data-original-title="" title="">
											<i class="fa fa-chevron-down"></i>
											</a>
										</li>
									 
										<!--<li class="single-question-pump" data-original-title="" title="">
										</li>-->
									</ul>
									<div class="pumping">
									</div>
								</div>
								<div>
									<ul class="question-tags">
										<li>
											<a class="q-tag">
												无标签</a>
										</li>
										
										
									</ul>
								</div>
								<div class="col-md-10 col-xs-6">
									
									<div id="answer-markdown-area-$question.id" class="pure-markdown q-ltop-content">
                						<textarea style="display:none;">
$question.content
               	 						</textarea>
									</div>


                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">相关ppt</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding">
                                            <table class="table table-striped">
                                                <tbody><tr>
                                                    <th>文件名</th>
                                                    <th style="width: 60px">下载</th>
                                                </tr>
                                                <tr>
                                                    <td>数据库设计</td>
                                                    <td><a href="#" ><span class="badge bg-red"><i class="ion ion-ios-cloud-download-outline"></i></span></a></td>
                                                    <!--<td><span class="badge bg-red">55%</span></td>-->
                                                </tr>
                                                <tr>
                                                    <td>软工二第二章</td>
                                                    <td><a href="#" ><span class="badge bg-red"><i class="ion ion-ios-cloud-download-outline"></i></span></a></td>
                                                    <!--<td><span class="badge bg-red">55%</span></td>-->
                                                </tr>
                                                <tr>
                                                    <td>数据结构---快排</td>
                                                    <td><a href="#" ><span class="badge bg-red"><i class="ion ion-ios-cloud-download-outline"></i></span></a></td>
                                                    <!--<td><span class="badge bg-red">55%</span></td>-->
                                                </tr>
                                                </tbody></table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.widget-user -->



                                    <div class="box box-solid">
                                        <div class="box-header with-border">
                                            <i class="fa fa-text-width"></i>

                                            <h3 class="box-title">WIKI</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <blockquote>
                                                <p>Spring是一个开源框架，Spring是一个轻量级的Java 开发框架，由Rod Johnson创建。简单来说，Spring是一个分层的JavaSE/EEfull-stack(一站式) 轻量级开源框架。</p>
                                                <small>来自 wiki条目<cite title="Source Title"><a href="#" >Spring</a></cite></small>
                                            </blockquote>
                                            <blockquote>
                                                <p>Spring是一个开源框架，Spring是一个轻量级的Java 开发框架，由Rod Johnson创建。简单来说，Spring是一个分层的JavaSE/EEfull-stack(一站式) 轻量级开源框架。</p>
                                                <small>来自 wiki条目<cite title="Source Title"><a href="#" >Spring</a></cite></small>
                                            </blockquote>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>



                                    <div class="q-lbtm-content">

										<div class="question-cat">
											
											<div class="clearfix"></div>
											<a href="/userProfile/$question.author.userName">
												<span class="author-avatar">
												<img src="$question.author.photoUri"/>  </span>
												<span itemprop="name" class="author-name">$question.author.userName</span>
											</a>

											<span itemprop="dateCreated" datetime="on June 9, 2014" class="question-time">
											发布于   $question.getCreateAtForView()
										</span>
										</div>

									</div>
								</div>

							</div>
							<hr/>
							
							
							
							
							<div class="row">
								<div class="col-md-4 col-xs-4">
									<p><b>$question.answerCount 个回答</b></p>
								</div>
							</div>
							<hr/>
							
							
							#foreach($oneAnswer in $answerOfQuestion)
								#parse("listItem/answerListItem.vm")
							#end
							
							
							
							<div class="row">
								<div class="col-md-4 col-xs-4">
									<p><b>添加我的回答</b></p>
								</div>
							</div>
							<hr/>
							
							
							<div class="row">
								<div id="editormd">
									<textarea style="display:none;"></textarea>
								</div>
							</div>
							
							<div class="row">
								<div id="submit-answer">
									<input class="answer-btn" type="button" onclick="submitAnswer()" value="提交答案 "></input>
								</div>
							</div>
							<hr/>
							
							
							
							
						</div>

						#parse("commonPart/rightSideBar.vm")

					</div>
				</div>
			</div>
			<!-- ./wrapper -->
			<script type="text/javascript">
				#if($question.id)
					var myQuestionId = "$question.id";
				#else
					var myQuestionId = "newQuestion";
				#end
				function submitAnswer() {
					var markdown = testEditor.getMarkdown();
					testEditor.clearStorage();
                    $.ajax({
                        type: "POST",
                        url:"/answer/saveAnswer",
                        data: {questionId:myQuestionId, markedText:markdown},
                        success: function(msg){
                            console.log(msg);
                            location.reload(true);
                        }
                    });
                }
				
				parseAllMarkDown();

                $("[data-toggle='tooltip']").tooltip();
			</script>
##            <script>
##                $(function () {
##                    $("[data-toggle='tooltip']").tooltip();
##                });
##            </script>

	</body>

</html>